.product__content {
    width: 100%;
    max-width: 1512px;
    height: 1100px;
    padding-top: 70px;
    padding-bottom: 70px;

    background: #F8F8F8;
}

.product-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    vertical-align: middle;
    height: 100px;
}

.product-nav__button {
    border: none;
    background-color: #FFA929;
    color: #4b4b4b;
    font-size: 16px;
    cursor: pointer;
}

.product-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 100px;
    height: 34px;
    background-color: #F0F0F0;
}

.product-utilities {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    max-width: 1512px;
    height: 50px;
    background-color: #F8F8F8;

    padding-right: 20px;
    padding-left: 20px;
}

.product-main {
    width: 100%;
    height: 790px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.product-operation {
    flex-shrink: 0;
    width: 240px;
    height: 280px;
}

.product-operation__input-search {
    width: 100%;
    height: 114px;
    cursor: pointer;
}

@media screen and (max-width: 2000px) {
    .product__content {
        height: 1100px;
    }

    .product-card__frame {
        flex-grow: 1;
        height: auto;
        padding-left: 20px;

    }

    .product-card__list {
        width: 1212px;
        display: flex;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1500px) {
    .product__content {
        height: 1500px;
    }

    .product-card__frame {
        flex-grow: 1;
        height: auto;
        padding-left: 20px;

    }

    .product-card__list {
        width: 838px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1100px) {
    .product__content {
        height: 2800px;
    }

    .product-card__frame {
        flex-grow: 1;
        height: auto;
        padding-left: 20px;
    }

    .product-card__list {
        width: 419px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}


.product-card__item {
    width: 374px;
    height: 420px;
    cursor: pointer;
}

.product-card__image {
    width: 374px;
    height: 350px;
}

.product-card__title {
    width: 374px;
    height: 69px;
    display: flex;
    justify-content: space-between;
}

.product-card__title-name {
    width: 20%;
}

.product-card__title-price {
    float: right;
    width: 20%;
}

.product-card__links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
}

/* フォーム */
.sort-form {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    height: 170px;
}

.product-operation__input-search {
    margin-bottom: 40px;
}

.search-form__name-input {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #E0DFDE;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.search-form__actions {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 44px;
    border-radius: 5px;
    padding: 10px;
    background: #F5C800;
    box-shadow: 0px 4px 10px 0px #0000001A;
    margin-bottom: 20px;
    cursor: pointer;
}

.search-form__search-btn {
    font-family: YuGothM;
    font-weight: 600;
    font-style: W6;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4B4B4B;
    border: none;
    background: #F5C800;
}

.search-form__keyword-input {
    padding: 8px 12px;
    /* placeholderが表示される最低限の幅を最小値とする */
    min-width: 324px;
    border: 1px solid #E3DED9;
    background-color: #FBFBFB;
}

.input-operation__sort-form {
    width: 100%;
    height: 170px;
    padding-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom: 1px solid #E0DFDE
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.search-form__order-title {
    width: 240;
    height: 30;
    color: #333333;
    font-family: YuGothM;
    font-size: 20px;
}

.sort-form__price-order {
    justify-content: space-between;

}

.sort-form__order-select-inner {
    position: relative;
    width: 240px;
    height: 43px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 1px;
}

.sort-form__order-select-inner::after {
    position: absolute;
    top: 50%;
    left: 92%;
    width: 0;
    height: 0;

    border-top: 7px solid #BEB1A6;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    content: "";
    transform: translateY(-50%);
}

.sort-form__order-select {
    width: 240px;
    height: 43px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 1px;
    color: #E0DFDE;
    font-family: YuGothM;
    font-weight: 300;
    font-style: W3;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    border: 1px solid #E0DFDE
}

.sort-form__order-tag {
    font-size: 14px;
    color: #4B4B4B;
    position: relative;
    width: 130px;
    height: 41px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 21px;
    border: 1px solid #F5C800;
}

.sort-form__order-tag-desc {
    font-size: 14px;
    color: #4B4B4B;
}

.sort-form__order-tag-asc {
    font-size: 14px;
    color: #4B4B4B;
}

.sort-form__order-tag-reset {
    position: absolute;
    top: 12px;
    left: 100px;
    width: 16px;
    height: 16px;
    border: 1px solid #F5C800;
    border-radius: 50%;
    color: #F5C800;
}

.sort-form__order-tag-reset span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 4px;
    font-size: 12px;
}